<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mEStudio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <mEStudio.My.MySettings>
            <setting name="Form_Main_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form_Main_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form_Main_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form_Main_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form_Main_State" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Restore_Window_Position" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Com_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="HighContrastMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToFullUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenLastFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </mEStudio.My.MySettings>
    </userSettings>
</configuration>